@font-face {
    font-family: "Poppins";
    src: url(fonts/Poppins-Bold.ttf);
}

.button {
    -fx-background-color: #1A374D; /* Dark blue background */
    -fx-padding: 8 16;             /* Padding for a compact button */
    -fx-background-radius: 8px;   /* Rounded corners */
    -fx-border-radius: 12px;      /* Rounded border */
    -fx-border-color: #6998AB;    /* Light blue border */
    -fx-border-width: 3px;        /* Thin border */
    -fx-cursor: hand;             /* Hand cursor on hover */
    -fx-font-family: Poppins;
    -fx-font-weight: 700;
    -fx-opacity: 1;
    -fx-text-fill: #B1D0E0;       /* White text for contrast */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.25), 5, 0, 3, 3); /* Subtle shadow */
    -fx-transition: all 0.3s ease; /* Smooth transition for hover and press effects */
}

.button:hover {
    -fx-background-color: #406882; /* Slightly lighter blue background on hover */
    -fx-border-color: #B1D0E0;     /* Lighter blue border on hover */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 4, 4); /* Slightly stronger shadow on hover */
}

.button:pressed {
    -fx-background-color: #6998AB; /* Lighter blue when pressed */
    -fx-border-color: #B1D0E0;     /* Light blue border when pressed */
    -fx-translate-y: 4px;          /* Slightly moves down when pressed */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 8, 0, 6, 6); /* Stronger shadow when pressed */
}

#returnBookPageTitle{
    -fx-font-size: 40px;
    -fx-font-family: Poppins;
    -fx-font-weight: 700;
    -fx-text-fill: #1A374D; /* Dark blue text */
}

.text-field {
    -fx-background-color: #F4F4F4; /* Light background for text field */
    -fx-border-color: #6998AB;     /* Light blue border */
    -fx-border-radius: 6px;
    -fx-font-size: 14px;
    -fx-text-fill: #333333;        /* Dark text color */
    -fx-padding: 10px;
}

.text-field:focused {
    -fx-border-color: #1A374D;    /* Dark blue border when focused */
    -fx-background-color: #ffffff; /* White background when focused */
    -fx-text-fill: #000000;        /* Black text when focused */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0, 2, 2); /* Subtle shadow when focused */
}